dn: uid={{ identifier }},ou=People,dc=example,dc=com
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: shadowAccount
mail: {{ email_address }}
uid: {{ identifier }}
cn: {{ first_name }} {{ last_name }}
sn: {{ last_name }}
givenName: {{ first_name }}
userPassword: {{ password }}
