[bumpversion]
current_version = 0.2.3
commit = True
tag = False

[bumpversion:file:docker-compose.template.yml]
search = at.cryptec.dev.infrastructure.mailstack.version: "{current_version}"
replace = at.cryptec.dev.infrastructure.mailstack.version: "{new_version}"

