{{- $ldap := print "dc=" (replace .domain "." ",dc=") -}}

BASE={{ $ldap }}
ADMIN=cn=admin, {{- $ldap }}
ADMIN_PW={{ .ldap.admin_pw }}

POSTFIX_BIND=uid=postfix,ou=Services, {{- $ldap }}
POSTFIX_PW={{ .sogo.ldap.bind_pw }}

DOVECOT_BIND=uid=dovecot,ou=Services, {{- $ldap }}
DOVECOT_PW={{ .dovecot.ldap.bind_pw }}

SOGO_BIND=uid=sogo,ou=Services, {{- $ldap }}
SOGO_PW={{ .sogo.ldap.bind_pw }}
