{{- define "address" -}}
    {{- if eq .Env.INTERNAL "false" -}}
        {{ .Env.ADDRESS -}}
    {{- else -}}
        :80
    {{- end -}}
{{- end -}}

{{- define "tls" -}}
    {{- if eq .Env.INTERNAL "false" -}}
        {{- if eq .Env.CERTIFICATE "self" -}}
            tls {{ .Env.CERT_PATH }} {{ .Env.KEY_PATH }}
        {{- end -}}
        {{- if eq .Env.CERTIFICATE "caddy" -}}
            tls {{ .Env.EMAIL }}
            {{- /* Add magic to split tls cert here */ -}}
        {{- end -}}
    {{- end -}}
{{- end -}}


{{- define "header" -}}
    {{- if eq .Env.INTERNAL "false" -}}
        header_upstream x-webobjects-server-port 443
        header_upstream x-webobjects-server-name {{ .Env.SERVER_IP }}
        header_upstream x-webobjects-server-url https://{{ .Env.ADDRESS }}
    {{- end }}
        transparent
        websocket
{{- end -}}


{{/* Section used by SoGo */}}
{{ template "address" .}} {
    {{ template "tls" .}}

    redir / /SOGo/
    log stdout
}

{{ template "address" .}}/SOGo {
    {{ template "tls" .}}

    proxy / sogo:20000/SOGo {
        {{ template "header" .}}
    }

    log stdout
}

{{ template "address" .}}/SOGo.woa/WebServerResources {
   {{ template "tls" .}}

   root /etc/sogo/resources/
   log stdout
}

{{ template "address" .}}/Microsoft-Server-ActiveSync {
    {{ template "tls" .}}

    proxy / sogo:20000/SOGo/Microsoft-Server-ActiveSync {
        {{ template "header" .}}
    }

    log stdout
}

{{ template "address" .}}/principals {
    {{ template "tls" .}}

    proxy / sogo:20000/SOGo/dav/ {
        {{ template "header" .}}
    }

    log stdout
}

{{ template "address" .}}/.well-known {
    {{ template "tls" .}}

    redir /.well-known/caldav /SOGo/dav
    redir /.well-known/carddav /SOGo/dav
}


{{/* Section used by rspamd */}}
{{ if .Env.RSPAMD_PROXY -}}
    {{- if .Env.RSPAMD_DOMAIN -}}
        {{ .Env.RSPAMD_DOMAIN }}
    {{- else }}
        :11334
    {{- end }} {
        {{ template "tls" .}}
        proxy / rspamd:11334/ {
            transparent
            websocket
        }
    }
{{- end }}
