{{ define "directive" }}
{{- if eq .Env.CERTIFICATE "self" }}
https://
{{- else }}{{- if eq .Env.CERTIFICATE "caddy" }}
https://
{{- else }}
http://
{{- end }}
{{- end }}{{ .Env.ADDRESS }}
{{- end }}

{{ template "directive" .}} {
    redir / /SOGo
    log stdout
}

{{ template "directive" .}}/SOGo {
    proxy / sogo:20000/SOGo {
        transparent
        websocket
    }
    log stdout
}

{{ template "directive" .}}/SOGo.woa/WebServerResources {
   root /etc/sogo/resources/
   log stdout
}

{{ template "directive" .}}/Microsoft-Server-ActiveSync {
    proxy / sogo:20000/SOGo/Microsoft-Server-ActiveSync {
        transparent
        websocket
    }

    log stdout
}

{{ template "directive" .}}/principals {
    proxy / sogo:20000/SOGo/dav/ {
        transparent
        websocket
    }
}

{{ template "directive" .}}/.well-known {
    {{ if eq .Env.CERTIFICATE "self" }}tls /etc/certificates/cert.pem /etc/certificates/privkey.pem{{ end }}
    redir /.well-known/caldav /SOGo/dav
    redir /.well-known/carddav /SOGo/dav
}
